<h1>Editing feed</h1>

<% form_for(@feed) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :supplier_id %><br />
    <%= f.collection_select :supplier_id, @suppliers, :id, :company %>
  </p>
  <p>
    <%= f.label :last_downloaded %><br />
    <%= f.datetime_select :last_downloaded %>
  </p>
  <p>
    <%= f.label :download_status %><br />
    <%= f.text_field :download_status %>
  </p>
  <p>
    <%= f.label :last_run %><br />
    <%= f.datetime_select :last_run %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @feed %> |
<%= link_to 'Back', feeds_path %>